/* Inicio CSS */

html, body{
	height:100%;
}

.section1, .section2, .section3, .footer{
	visibility:hidden;
}

/* Variáveis */

:root{
	--highlight:#ffd803;
	--title-color:#272343;
	--p-color:#2d334a;
	--primary:#ffffff;
	--secondary:#e3f6f5;
	--tertiary:#bae8e8;
}

/*  Scrollbar personalizada  */

body::-webkit-scrollbar {
  	width:5px;              
}

body::-webkit-scrollbar-track {
  	background:var(--title-color);        
}

body::-webkit-scrollbar-thumb {
  	background-color:var(--highlight);    
}


/* Backgrounds-colors */

body{
	background-color:var(--primary);
}

.bg-card-white{
	background-color:var(--primary);
}

.bg-card{
	background-color:var(--title-color);
}

.bg-card-secondary{
	background-color:var(--secondary);
}

.bg-card-tertiary{
	background-color:var(--tertiary);
}

/* width para card de texto */

.width{
	width:75%;
	text-align:center;
}

/* fonts e cores dos texto e titulos */

.font-style-title{
	font-family: 'Kanit', sans-serif;
	font-weight:500;
}

.font-style-text{
	font-family: 'Rubik', sans-serif;
	font-weight:400;
}

.font-color-title{
	color:var(--title-color);
}

.font-color-p{
	color:var(--p-color);
}

.font-color-cards{
	color:var(--primary);
}

.color-tertiary-card{
	color:var(--tertiary);
}

.font-size-title{
	font-size:25px;
}

.font-size-p{
	font-size:18px;
}

.color-icon{
	color:var(--title-color);
	transition:0.3s ease;
}

.color-icon:hover{
	color:var(--highlight);
}

/* botão personalizado */

.buttonClass{
	color:var(--p-color);
  	border:2px solid var(--title-color);
  	background-color:var(--primary);
  	text-align:center;
  	text-decoration:none;
  	padding:10px;
  	overflow:hidden;
  	transition:0.3s ease;
}

.buttonClass:hover{
	background-color:var(--highlight);
	color:var(--title-color);
}

@media (max-width: 600px){

	.width{
		width:95%;
		text-align:center;
	}
}

@media (max-width: 510px){
	.font-size-title{
		font-size:19.5px;
	}

	.font-size-p{
		font-size:15.5px;
	}
}

@media (max-width: 350px){
	.font-color-title{
		font-size:14px;
	}

	.font-size-p{
		font-size:12px;
	}
}








             


 
  
  
